:root {
  --color-text: #edf0f3;
  --color-button: #47a4f9;
  --color-form: #9A9A9A;
  --color-background: #1C232B;
  --color-cards: #1F2832;
}

html,
body {
  background-color: var(--color-background);
  box-sizing: border-box;
  color: var(--color-text);
  font-family: Rubik;
  margin: 0;
  overflow-x: hidden;
  padding: 0;
}

a,
button {
  color: var(--color-text);
  cursor: pointer;
  text-decoration: none;
}

header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 3rem 7%;
  position: relative;
  z-index: 110;
}

.logo_header {
  position: relative;
  z-index: 2;
}

.itens_header {
  align-items: center;
  display: flex;
  gap: 20px;
  justify-content: center;
  position: relative;
}

.links_header {
  display: flex;
}

/* HOME PAGE */

.retangle_home {
  position: absolute;
  top: 0;
}

.content {
  padding: 20px 7%;
  display: flex;
  flex-direction: column;
}


.help_students {
  display: flex;
  z-index: 4;
  align-items: center;
  justify-content: space-between;
}

.info_home {
  height: 200px;
  width: 423px;
}

.student_card {
  display: flex;
  height: 380px;
  justify-content: end;
  padding-top: 8.5em;
}

.images_home {
  align-items: end;
  display: flex;
  justify-content: center;
  position: absolute;
}


.banner_background_img {
  background-color: var(--color-background);
  display: flex;
  height: 330px;
  z-index: 4;
}


.banner_person_img {
  position: absolute;
  z-index: 10;
}

.detail_home {
  margin-right: -2.5em;
  margin-top: 18.2em;
  position: absolute;
  z-index: 1;
}

.detail_home_mobile {
  display: none;
}

.info_tv {
  height: 268px;
  width: 647px;
}

.tv_image img {
  display: block;
  height: auto;
  margin: 0 0;
  max-width: 90%;
}

.btn_icon_header {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.button_blue {
  background: var(--color-button);
  border: none;
  border-radius: 50px;
  color: var(--color-text);
  padding: 11.869px 22px;
  font-weight: 600;
}

.button_transparent {
  background: transparent;
  border: 0.757px solid var(--color-text);
  border-radius: 50px;
  font-weight: 600;
  margin-left: 10px;
  padding: 11.869px 22px;

}

.button_buy {
  background: var(--color-button);
  border: none;
  border-radius: 75.301px;
  font-weight: 600;
  padding: 12px 13.554px;
}

/*NUMBERS LIST */


.rectangle_number_list {
  position: absolute;
  right: 0;
  top: 0;
}

.number_list_background {
  background: #395A80;
  filter: blur(120px);
  height: 700px;
  left: 850px;
  position: absolute;
  top: 60em;
  width: 1065px;
  z-index: 1;
}

.buy {
  padding-bottom: 5em;
  position: relative;
  z-index: 20;

}

.buy_numbers_home {
  color: var(--color-text);
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 29px;
}

.buy_numbers_home span {
  color: var(--color-button);
}


.numbers_content {
  background: var(--color-cards);
  border-radius: 10px;
  flex-shrink: 0;
  justify-content: center;
  padding: 25px;
}

.numbers {
  display: flex;
  flex-wrap: wrap;
  justify-content: start;
  list-style: none;
  padding: 0;
}

.numbers li {
  align-items: center;
  border-radius: 9.34px;
  box-sizing: border-box;
  color: var(--color-text);
  display: flex;
  justify-content: center;
  margin: 5px;
  padding: 5px 18px 6px 18px;
  text-align: center;
  width: calc(5% - 10px);
}

.numbers_available {
  align-items: center;
  border: 2px solid #395a80;
  cursor: pointer;
  display: flex;
  justify-content: center;
}

.numbers_unvailable {
  align-items: center;
  border: 2px solid #62686F;
  cursor: not-allowed;
  display: flex;
  justify-content: center;
  opacity: 0.6;
  pointer-events: none;
}

.numbers_selected {
  align-items: center;
  background-color: var(--color-button);
  border: var(--color-button);
  display: flex;
  justify-content: center;
}

.button_number {
  background: #62686f;
  border: none;
  border-radius: 100px;
  font-weight: 600;
  height: 44px;
  width: 283px;
}

.numbers_footer {
  align-items: center;
  display: flex;
  justify-content: space-between;
  padding: 16px 18px;
}

.button_buy_sidebar {
  align-items: center;
  background: var(--color-button);
  border: none;
  border-radius: 100px;
  font-weight: 600;
  display: flex;
  height: 44px;
  justify-content: center;
  width: 258px;
}

.numbers_description {
  color: #62686f;
  font-size: 12px;
  font-weight: 400;
}

.studens_img {
  display: none;
}

.studens_img_pc {
  flex-shrink: 0;
  height: 100%;
  width: 100%;
}


/* ABOUT */

.header_about {
  display: flex;
  flex-direction: column;
  padding-top: 3em;
}

.about {
  background: var(--color-cards);
  border-radius: 8.371px;
  font-weight: 300;
  line-height: 22px;
  padding: 12px;
  position: relative;
  width: 100%;
  z-index: 10;
}

.about h4 {
  color: var(--color-button);
  font-size: 18px;
  font-weight: 400;
  line-height: 120%;
}

.collapse {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.icon_about {
  background-color: var(--color-background);
}

/* Efeito quando mostra o formulário e sidebar mobile */
.backdrop {
  backdrop-filter: blur(5px);
  background: rgba(0, 0, 0, 0.39);
  height: 100%;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 8;
}


/* FORM */

.logo_sidebar {
  align-items: center;
  display: flex;
  justify-content: space-between;
  margin: 25px 12px;
  padding-left: 15px;
}

.navigation_form {
  animation-duration: 1s;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 999;
}

.navigation_form.large-screen {
  width: 42%;
}

.form_sidebar {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.form_main_data {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 14px;
}

.form_style {
  padding: 0 26px;
}

.form_style p {
  font-weight: 300;
  line-height: 22px;
}

.form_style h4 {
  font-weight: 600;
  line-height: 29px;
}

.address_style {
  display: flex;
  gap: 10px;
}

.form_sidebar input {
  border: none;
  border-bottom: 1px solid #fff;
  color: var(--color--text);
  outline: none;
  padding-bottom: 10px;
  width: 80vw;
}

.form_sidebar label {
  color: var(--color-form);
  font-size: 15px;
  font-weight: 300;
}

.price {
  color: var(--color-button);
  display: flex;
  font-size: 14px;
  font-weight: 600;
  justify-content: space-between;
  padding-bottom: 25px;
  padding-top: 6px;
}

.sucess_mensage {
  align-items: center;
  display: flex;
  gap: 16px;
  padding-top: 35px;
}

.sucess_mensage p {
  font-size: 14px;
  font-weight: 600;
  line-height: 22.5px;
  padding-right: 30px;
}

.form_footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding-bottom: 25px;
}


.button_cancel_sidebar {
  border: 0.757px solid var(--color-text);
  border-radius: 100px;
  align-items: center;
  background: transparent;
  font-weight: 600;
  display: flex;
  height: 44px;
  justify-content: center;
  width: 258px;
}

/* ESTILO DOS STEPS NO FORMS */

.MuiStepLabel-label {
  color: white !important;
  font-size: 12px;
  font-weight: 500;
  line-height: 20.8px;
}

/* FOOTER */

footer {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 24px;
  justify-content: center;
  padding: 35px;
}

.footer_links {
  display: flex;
  gap: 32px;
  z-index: 2;
}

.footer_logo {
  display: flex;
  z-index: 2;
}

.footer_links a {
  color: var(--color-text);
  font-size: 12px;
  font-weight: 400;
}

.rectangle_footer {
  position: absolute;
  width: 100%;
}

.rectangle_footer_mobile {
  display: none;
}


@media screen and (max-width: 768px) {

  /* HEADER */

  .content {
    padding: 20px;
  }

  .links_header {
    display: none;
  }


  /* COMPONENTE SIDEBAR */

  .navigation_header {
    animation-duration: 1s;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
  }


  .btn_icon_header {
    display: block;
  }

  .list_sidebar {
    display: flex;
    flex-direction: column;
  }

  .sidebar_itens {
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: auto;
    position: fixed;
    right: 0;
  }


  .detail_sidebar {
    display: fixed;
    left: 50px;
    width: 100%;
  }

  /* HOME */

  .buttons_home {
    display: flex;
    justify-content: center;
    padding-top: 10px;
  }

  .info_home {
    width: auto;
    height: auto;
  }

  .info_tv {
    width: auto;
    height: auto;
  }

  .banner_background_img {
    display: none;
  }

  .student_card {
    display: flex;
    height: 236.135px;
    justify-content: start;
    padding: 18px 1em;
    position: relative;
    width: 310px;
  }

  .banner_person_img {
    height: 222px;
    margin-top: 11px;
    position: relative;
    width: 189px;
    z-index: 3;
  }


  .detail_home {
    display: none;
  }


  .detail_home_mobile {
    display: flex;
    margin-left: 6em;
    margin-top: 13em;
    position: absolute;
    z-index: -2;
  }

  .retangle_home_svg {
    margin-left: 4em;
    margin-top: 10.5em;
    position: absolute;
    z-index: -2;
  }

  .help_students {
    gap: 6px;
    flex-direction: column;
  }

  .premiumButton {
    font-weight: 600;
    margin-bottom: 2em;
    margin-top: 12px;
  }

  /* NUMBERLIST */

  .number_list_background {
    top: 0;
    width: 100px;
    z-index: 1;
  }

  .buy {
    padding-bottom: 1em;
    position: relative;
    z-index: 20;
  }

  .numbers {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
  }

  .numbers_content {
    margin: 0px;
  }

  .numbers li {
    padding: 5.604px 15.559px 6.351px 16px;
    text-align: center;
    width: calc(20% - 10px);
  }

  .button_number {
    background: #62686f;
    border: none;
    border-radius: 100px;
    font-weight: 600;
    height: 44px;
    width: 283px;
  }

  .numbers_footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 16px 18px;
  }

  .numbers_description {
    color: #62686f;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    text-align: right;
  }

  .studens_img {
    display: flex;
    flex-shrink: 0;
    height: 100%;
    width: 100%;
  }

  .studens_img_pc {
    display: none;
  }

  /* FORM */

  .navigation_form.large-screen {
    width: 80%;
  }


  /* FOOTER */

  footer {
    position: relative;
    z-index: 2;
  }

  .rectangle_footer {
    display: none;
  }

  .rectangle_footer_mobile {
    bottom: 0;
    display: flex;
    position: absolute;
  }


}