:root {
  --color-white: #fff;
  --color-text: #edf0f3;
  --color-button: #47a4f9;
  --color-form: #9A9A9A;
}



html,
body {
  background-color: #1c232b;
  color: var(--color-text);
  font-family: Rubik;
  overflow-x: hidden;
}

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.header {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 18px 12px 28px 12px;
}

.navigation_header a {
  color: var(--color--text);
  text-decoration: none;
  transition: 1s;
}

.content {
  padding: 0.9em;
  transition: 1s;
  display: flex;
  flex-direction: column;

}

.homePage {
  position: relative;
}

.btn_icon_header {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: none;
}

.buttonBlue {
  background: var(--color-button);
  border: none;
  border-radius: 50px;
  color: var(--color-text);
  font-size: 14px;
  padding: 11.869px 22px;
  text-decoration: none;
}

.buttonTransparent {
  background: transparent;
  border: 0.757px solid #edf0f3;
  border-radius: 50px;
  color: var(----color-text);
  font-size: 14px;
  margin-left: 10px;
  padding: 11.869px 22px;
  text-decoration: none;
}

.buttonBuy {
  background: var(--color-button);
  border: none;
  border-radius: 75.301px;
  color: var(----color-text);
  padding: 12px 13.554px;
}

@media screen and (max-width: 768px) {
  /* HEADER */

  .itens_header {
    display: flex;
  }

  .backdrop {
    background: rgba(0, 0, 0, 0.39);
    backdrop-filter: blur(5px);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 8;
  }

  /* COMPONENTE SIDEBAR */

  .navigation_header {
    animation-duration: 1s;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
  }

  .logo_sidebar {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 35px 12px;
    padding-left: 15px;
  }

  .btn_icon_header {
    display: block;
  }

  .list_sidebar {
    display: flex;
    flex-direction: column;
  }

  .sidebar_itens {
    bottom: 0;
    display: flex;
    flex-direction: column;
    gap: 30px;
    height: auto;
    position: fixed;
    right: 0;
  }

  .button_buy_sidebar {
    align-items: center;
    background: var(--color-button);
    border: none;
    border-radius: 50px;
    color: var(----color-text);
    display: flex;
    height: 44px;
    justify-content: center;
    width: 258px;
  }

  .button_cancel_sidebar {
    border: 0.757px solid #edf0f3;
    border-radius: 50px;
    color: var(----color-text);
    align-items: center;
    background: transparent;
    display: flex;
    height: 44px;
    justify-content: center;
    width: 258px;
  }

  .detail_sidebar {
    display: fixed;
    left: 50px;
    width: 100%;
  }

  /* HOME */

  .home_background {
    background: #395A80;
    filter: blur(125px);
    width: 729px;
    height: 500px;
    left: -600px;
    position: absolute;
    z-index: 1;
  }

  .home_background_tv {
    background: #395A80;
    filter: blur(125px);
    width: 2000px;
    height: 500px;
    right: -2000px;
    top: 20%;
    position: absolute;
    z-index: 1;
  }





  .buttonsHome {
    display: flex;
    justify-content: space-between;
    padding: 0 6px;
  }

  .studentCard {
    display: flex;
    padding: 15px 1em;
    position: relative;
  }

  .homeStudentPic {
    margin-left: 1em;
    margin-top: 10px;
    z-index: 3;
  }

  .homeTvPic {
    margin-left: 8px;
    margin-top: 10px;
    width: 18em;
  }

  .homeItens {
    margin-left: 9em;
    margin-top: 13em;
    position: absolute;
    z-index: -2;
  }

  .homeRetangle {
    margin-left: 6em;
    margin-top: 10.5em;
    position: absolute;
    z-index: -1;
  }

  .helpStudents {
    align-items: center;
    gap: 6px;
    justify-content: space-between;
    position: relative;
    z-index: 4;
  }

  .premiumButton {
    margin-bottom: 2em;
    margin-top: 12px;
  }

  /* NUMBERLIST */

  .number_list_background {
    background: #395A80;
    filter: blur(120px);
    height: 700px;
    position: absolute;
    right: 200px;
    top: 45%;
    width: 1065px;
    z-index: 1;


  }

  .buy {
    position: relative;
    z-index: 20;
  }

  .price {
    color: #47a4f9;
  }

  .numbers_content {
    background: #1f2832;
    border-radius: 10px;
    flex-shrink: 0;
    padding: 20px;

  }

  .numbers {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    padding: 0;
    padding-bottom: 20px;

  }

  .numbers li {
    align-items: center;
    box-sizing: border-box;
    border-radius: 9.34px;
    color: var(--color-text);
    justify-content: center;
    margin: 5px;
    padding: 5.604px 15.559px 6.351px 16px;
    text-align: center;
    width: calc(20% - 10px);
  }

  .numbers_available {
    align-items: center;
    border: 2px solid #395a80;
    cursor: pointer;
    display: flex;
    justify-content: center;
  }

  .numbers_unvailable {
    align-items: center;
    border: 2px solid #62686F;
    cursor: not-allowed;
    display: flex;
    justify-content: center;
    opacity: 0.6;
    pointer-events: none;

  }

  .button_number {
    display: flex;
    width: 283px;
    height: 44px;
    padding: 16px 18px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 100px;
    background: #62686f;
    border: none;
  }

  .numbers_footer {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .numbers_description {
    color: #62686f;
    font-family: Rubik;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: right;

  }

  .studens_img {
    flex-shrink: 0;
    height: 100%;
    width: 100%;

  }


  /* FORMULÁRIO SIDEBAR */

  .form_sidebar {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .form_main_data {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }

  .form_style {
    padding: 0 28px;
  }

  .form_style p {
    color: #EDF0F3;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
  }

  .address_style {
    display: flex;
    gap: 10px;
  }

  .form_sidebar input {
    border: none;
    border-bottom: 1px solid #fff;
    color: var(--color--text);
    outline: none;
    padding-bottom: 10px;
    width: 70vw;
  }

  .form_sidebar label {
    color: var(--color-form);
    font-size: 15px;
    font-style: normal;
    font-weight: 300;
  }

  .form_footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding-bottom: 40px;
    padding-top: 60px;
  }

  /* ESTILO DOS STEPS NO FORMS */

  .MuiStepLabel-label {
    color: white !important;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 20.8px;
  }

  /* ABOUT */

  .about {
    background: #1F2832;
    border-radius: 8.371px;
    color: #EDF0F3;
    font-family: Rubik;
    font-size: 14px;
    font-style: normal;
    font-weight: 300;
    line-height: 22px;
    padding: 12px;

  }

  .about h4 {
    color: #47A4F9;
    font-size: 18px;
    font-weight: 400;
    line-height: 120%;
  }

  .collapse {
    align-items: center;
    display: flex;
    justify-content: space-between;


  }

  .icon_about {
    background-color: #1c232b;
  }


  /* FOOTER */

  footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .footer_links {
    display: flex;
    gap: 24px;
    z-index: 2;
  }

  .footer_logo {
    display: flex;
    z-index: 2;
  }

  .footer_links a {
    color: var(--color-text);
    font-size: 12px;
    font-weight: 400;
  }

  .footer_background {
    background: #395A80;
    filter: blur(130px);
    width: 600px;
    height: 150px;
    position: absolute;
    z-index: 1;
  }
}